.navbar{ background:#F97300;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}

.bg-dark{ background-color:#303a44!important; }
.bg-primary{ background-color:#007bff!important; }

/*header style*/
.header{
    background-image: url('../resources/images/gigined.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
